body {
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
    background: url('/Imágenes/Background/The Pools Backroom.jpg') no-repeat center center fixed; 
    background-size: cover; 
    color: #3b0f0c; 
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #d87474; 
}

#introduccion, .experiencia, .proyectos {
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}

.cuadro-texto {
    background-color: #f5ab8f; 
    padding: 20px;
    border-radius: 15px;
    border: 2px dotted #250404; 
    box-shadow: 0 0 10px rgba(36, 4, 4, 0.808);
    margin-bottom: 20px;
    text-align: center; 
}

.imagen-personal, .imagen-central {
    display: block;
    margin: 20px auto;
    max-width: 200px; 
    height: auto;
    border-radius: 50%;
    border: 5px solid #d87474; 
    box-shadow: 0 0 10px rgba(36, 4, 4, 0.808);
    border: 2px dotted #250404; 
}

.imagen-proyecto {
    display: block;
    margin: 20px auto;
    max-width: 300px; 
    height: auto;
    border-radius: 10px;
    border: 3px solid #d87474; 
    box-shadow: 0 0 10px rgba(36, 4, 4, 0.808);
    border: 2px dotted #250404;
}

#titulo-principal {
    color: #740b0b; 
}

#contacto {
    width: 250px; 
    background-color: rgba(59, 59, 61, 0.9); 
    text-align: center;
    color: #fff; 
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    padding: 10px;    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

#contacto .cuadro-texto {
    background-color: transparent;
    box-shadow: none;
    padding: 10px;
}

h2 {
    color: #740b0b; 
}

p, ul {
    line-height: 1.8;
    margin: 20px 0;
}

ul {
    padding-left: 20px;
}

a {
    color: #d87474; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.icono {
    width: 20px; 
    height: 20px; 
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.icono:hover {
    transform: scale(1.1);
}

@keyframes scroll {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

section, footer {
    animation: scroll 1s ease-in-out;
}
